 /** div.mesTodos {
  
    position: relative;
    left: 50%;
    border: ridge black 4px ;
    color: rgb(24, 103, 207);
    width:950px;
    margin-left: -475px;
    margin-top: 50px;
    margin-bottom: 35px;
    border-radius: 15px;
    text-align: center;
    
}*/

#aFaire{
    width: 500px;
   // border: ridge black 4px ;
       
}
/**
#debut{
   border: ridge black 4px ;
}
*/
/**
#fin{
 //   border: ridge black 4px ;
}
*/
 #supp{
     margin-bottom:5px;
     margin-left: 5px;
     margin-right: 5px;
 }
// permet de mettre le supp à droite
 .move-right {
     flex: 1 1 auto;
 }

