<div class="mesTodos">
  <mat-toolbar color="primary">
    <span>outil</span>

    <!-- This fills the remaining space of the current row -->
    <span class="move-right"></span>

    <!-- Liste déroulante pour afficher masquer les colonne -->
    <mat-form-field>
      <mat-select placeholder="Afficher" [(ngModel)]="selectedValue" [formControl]="columns" [(value)]="selectedOption"
        (selectionChange)="changeView($event)" multiple>
        <mat-option *ngFor="let column of availableColumns" [value]="column">{{column}}</mat-option>
      </mat-select>
    </mat-form-field>

    <span>
      <button type="button" class="btn btn-danger" [disabled]="noneChecked()" (click)="deleteChecked()">
        <i class="fa fa-trash"></i>
      </button>
    </span>
  </mat-toolbar>

  <mat-table #todos [dataSource]="dataSource" matSort>

    <!-- Titre-->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef>A faire...</mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{ todo.title }} </mat-cell>
    </ng-container>

    <!-- Date de début-->
    <ng-container matColumnDef="begin">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Du...</mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{ todo.begin | date: 'dd-MM-yyyy' }} </mat-cell>
    </ng-container>

    <!-- Date de fin -->
    <ng-container matColumnDef="end">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Au...</mat-header-cell>
      <mat-cell *matCellDef="let todo"> {{ todo.end | date: 'dd-MM-yyyy' }} </mat-cell>
    </ng-container>

    <!-- Modification d'un todo-->
    <ng-container matColumnDef="update">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let todo">
        <button mat-mini-fab color="accent" (click)="update(todo)">
          <mat-icon aria-label="Modifier le todo">create</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <!-- Suppression d'un todo-->
    <ng-container matColumnDef="delete">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let todo">
        <button mat-mini-fab color="warn" (click)="delete(todo)">
          <mat-icon aria-label="Supprimer le todo">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef=" let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div>