<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ title }}
  </h1>
  <button type="button" (click)= "changeTitle ()">
    Clique sur moi steup
  </button>
 
</div>

<!-- Intégration du composant todo-form-->
<todo-form></todo-form>
<view-todos></view-todos>
<!--
<div>
  <input type="text" placeholder="A faire ..." [(ngModel)]="aTodo" >
  <button type="button"(click)="addTodo()" [disabled]="notEnoughForMe()">Ajouter</button>

  <table [hidden]="todos.length == 0">
    <thead>
      <tr>
        <th><input
          type="checkbox"
          (click)="checkUncheckAll()"
          [checked]="checkedStatus" >tout sélectionner</th>
        <th>Titre</th> 
        <th>&nbsp;</th>   
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let todo of todos; let i = index; let val= checklist-value">
          <td>
              <input type="checkbox" (click)="toggle(i)" [checked]="todo.isChecked" >
          </td>
        <td [ngClass]="{strikeOut: isChecked(todo)}">
          {{todo.title}}
        </td>
        <td>
          <button type="button" (click)="delete(i)">
            X
          </button>
        </td>
      </tr>
      <tr>
          <td>
              <button 
              type="button" 
              [disabled]="noneChecked()"
              (click)="deleteChecked()">
                Supprimer
              </button>
      </tr>
    </tbody>
  </table>
</div>
-->

