div.myTodo {
    
    position: relative;
    left: 50%;
    border: ridge black 4px ;
    color: rgb(24, 103, 207);
    width:300px;
    margin-left: -150px;
    margin-top: 50px;
    margin-bottom: 35px;
    height:220px;
    border-radius: 15px;
 
}
input{
    margin-top: 20px; 
    margin-left: 5px; 
}

button{
    margin-top: 20px;
    margin-left: 5px;
}


